{% import _self as menu %}
{% import 'shared/icons.html.twig' as icon %}

<div data-controller="menu">
    <header data-controller="theme" class="flex flex-row justify-between z-40 h-16 w-full px-4 py-1 border-b-2 border-secondary bg-primary fixed">
        <span class="flex-1"></span>
        <a class="font-roboto-condensed uppercase font-bold text-6xl tracking-tighter" href="{{ path('app_home') }}">
            <img data-theme-target="logo" class="h-full" src="{{ asset('images/logo_light.png') }}" alt="ITS CHRIS">
        </a>
        <button class="flex flex-1 justify-end items-center" type="button">
            <i data-action="click->menu#open" class="text-primary-text block w-6 h-6" data-lucide="align-right"></i>
        </button>
    </header>
    <div data-menu-target="overlay" data-action="click->menu#close"
         class="pointer-events-none fixed top-0 z-40 h-screen w-screen cursor-pointer bg-zinc-800 opacity-0 transition-opacity duration-500 ease-out"></div>
    <aside data-menu-target="menu" class="fixed top-0 -right-full z-50 h-full w-5/6 max-w-sm bg-primary p-5 duration-500 ease-in-out md:-right-96">
        <a class="flex justify-center w-full mb-5" href="{{ path('app_home') }}">
            <img data-theme-target="logo" class="h-12" src="{{ asset('images/logo_light.png') }}" alt="ITS CHRIS">
        </a>
        {{ menu.route('Home', '#home') }}
        {{ menu.route('About Me', '#about-me') }}
        {{ menu.route('Portfolio', '#portfolio') }}

        {# https://tailwind-elements.com/docs/standard/components/social-buttons/ #}
        <div data-controller="tooltip" class="absolute bottom-0 left-0 flex w-full items-end justify-evenly py-6">
            <div data-action="click->tooltip#discord" class="relative w-min group mt-12 flex flex-col justify-center">
                <div class="absolute shadow-lg hidden bg-[#333] text-white font-semibold px-2 py-[6px] text-[13px] right-0 left-0 w-max -top-10 rounded before:w-4 before:h-4 before:rotate-45 before:bg-[#333] before:absolute before:z-[-1] before:-bottom-1 before:left-0  before:right-0 before:mx-auto">
                    Copied!
                </div>
                <span class=" hover:text-primary-text">
                    {{ icon.Discord() }}
                </span>
            </div>

            <a href="https://github.com/ArchBacon" target="_blank"
               class="relative w-min group mt-12 flex flex-col justify-center hover:text-primary-text">
                {{ icon.Github() }}
            </a>

            <div data-action="click->tooltip#email" class="relative w-min group mt-12 flex flex-col justify-center">
                <div class="absolute shadow-lg hidden bg-[#333] text-white font-semibold px-2 py-[6px] text-[13px] right-0 left-0 w-max -top-10 rounded before:w-4 before:h-4 before:rotate-45 before:bg-[#333] before:absolute before:z-[-1] before:-bottom-1 before:left-0  before:right-0 before:mx-auto">
                    Copied!
                </div>
                <span class=" hover:text-primary-text">
                    {{ icon.Email() }}
                </span>
            </div>
        </div>
    </aside>
    <div class="h-16"></div>
</div>

{% macro route(name, route = 'javascript:void(0)') %}
    <a href="{{ route }}" data-action="click->menu#close" class="flex h-12 items-center rounded-lg px-4 hover:bg-zinc-800">
        <span class="w-full">{{ name }}</span>
        <span class="pl-4"><i data-lucide="chevron-right"></i></span>
    </a>
{% endmacro %}