{% extends 'project/project.html.twig' %}

{% block title %}Marisol{% endblock %}

{% block video %}
    <iframe class="w-full bg-zinc-900 aspect-video max-w-full"
            src="https://www.youtube.com/embed/Al4l8_RPOVA?si=EWLtGw213kBuxuao"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
    ></iframe>
{% endblock %}

{% block content %}
    <div class="flex flex-wrap gap-4 mb-4">
        <div class="bg-secondary-text w-max px-3 py-1 rounded">Unreal Engine</div>
        <div class="bg-secondary-text w-max px-3 py-1 rounded">Team Project</div>
        <div class="bg-secondary-text w-max px-3 py-1 rounded">Lead Programmer</div>
        <div class="bg-secondary-text w-max px-3 py-1 rounded">Generalist</div>
        <div class="bg-secondary-text w-max px-3 py-1 rounded">Visual Scripting</div>
        <div class="bg-secondary-text w-max px-3 py-1 rounded">Gameplay Tools</div>
        <div class="bg-secondary-text w-max px-3 py-1 rounded">Procedural Animation</div>
    </div>

    {{ _self.heading('The Project') }}
    {{ _self.paragraph("
        <a class=\"text-secondary hover:underline\" href=\"https://buas.itch.io/marisol\">Marisol</a> is a game made in
        8 weeks by 23 students unfamiliar with each other. Players explore the world by interacting with its local
        residents, defeating enemies, and solving puzzles.
    ") }}

    {{ _self.heading('Responsibilities') }}
    {{ _self.paragraph("
        As the lead programmer for this project, I had many miscellaneous tasks and responsibilities. Some highlights
        include writing a project style-guide for the entire team, delegating tasks, and getting developers to agree on
        the project's direction.
    ") }}
    {{ _self.paragraph("
        During meetings with the leads and producer, it was always appreciated that I could explain goals and
        limitations in a non-technical way and give proper estimates on discussed goals.
    ") }}

    {{ _self.heading('Puzzles | Gameplay Tools') }}
    {{ _self.paragraph("
        Cozmo, a gifted little guy with a mind of his own. He’s a real-life robot like you’ve only seen in movies, with a one-of-a-kind personality that evolves the more you hang out.
Cozmo combines robotics, gaming, and toys. I contributed to the basestation code that runs on a smartphone which connects to the robot firmware via wifi.
One of the hottest toys of Christmas 2016, Sold out in it’s initial run.
    ") }}

    {{ _self.heading('Procedural Animation') }}
    {{ _self.paragraph("
        Cozmo, a gifted little guy with a mind of his own. He’s a real-life robot like you’ve only seen in movies, with a one-of-a-kind personality that evolves the more you hang out.
Cozmo combines robotics, gaming, and toys. I contributed to the basestation code that runs on a smartphone which connects to the robot firmware via wifi.
One of the hottest toys of Christmas 2016, Sold out in it’s initial run.
    ") }}

    {{ _self.image(asset('projects/marisol/crabosaurus-ezgif.com-resize.webp'), '"Little" easter egg that often got a reaction out of the players') }}

    <div class="flex flex-wrap gap-4 mb-8 justify-evenly">
        <img class="h-16" src="{{ asset('images/buas.png') }}" alt="Unreal Engine Logo">
        <img class="h-16" src="{{ asset('images/unreal.png') }}" alt="Unreal Engine Logo">
        <img class="h-16" src="{{ asset('images/jira.png') }}" alt="Unreal Engine Logo">
        <img class="h-16" src="{{ asset('images/itchio.png') }}" alt="Unreal Engine Logo">
    </div>
{% endblock %}

