{% extends 'base.html.twig' %}

{% block body %}
    <div class="border-l border-tertiary bg-secondary/[.95] fixed right-0 top-1/4 hidden lg:block z-40">
        <h3 class="flex h-12 text-xl items-center rounded-lg px-4 font-bold">Contents</h3>
        {% block routes %}{% endblock %}
    </div>

    <div class="w-full bg-primary">
        <div class="container max-w-3xl mx-auto px-5 mt-6">
            <div class="flex flex-col">
                <h1 class="font-rajdhani uppercase font-bold text-6xl align-text-top">{% block title %}Project Name{% endblock %}</h1>
                <h2 class="font-rajdhani uppercase font-bold text-3xl align-text-top text-tertiary md:ml-4">{% block subtitle %}{% endblock %}</h2>
            </div>
            <hr class="w-20 bg-primary-text h-1.5 my-6">
            <div class="py-5">
                {% block content %}Content Body{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% macro heading(value) %}
    <h2 id="{{ value|lower|replace({' ': '-'}) }}" class="text-xl font-bold pb-4">{{ value }}</h2>
{% endmacro %}

{% macro paragraph(value) %}
    <p class="pb-8">
        {{ value|raw }}
    </p>
{% endmacro %}

{% macro image(source, description) %}
    <div class="pb-4">
        <img class="w-full rounded" src="{{ source }}" alt="" loading="lazy">
        <p class="italic text-zinc-500">{{ description|raw }}</p>
    </div>
{% endmacro %}

{% macro video(source, description) %}
    <div class="pb-4">
        <video controls muted>
            <source src="{{ source }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <p class="italic text-zinc-500">{{ description|raw }}</p>
    </div>
{% endmacro %}

{% macro route(name, route = 'javascript:void(0)') %}
    <a href="{{ route }}" data-action="click->menu#close" class="flex h-12 items-center rounded-lg px-4 pr-8 hover:bg-zinc-800">
        <span class="w-full">{{ name }}</span>
    </a>
{% endmacro %}